@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	font-family: "Roboto", sans-serif;
	list-style: none;
}

body {
	background: #c4c4c4;
	font-size: 14px;
	line-height: 20px;
}

.header {
	text-align: center;
	font-size: 32px;
}

main {
	display: flex;
	width: 800px;
	margin: 50px auto;
	background: #fff;
	padding: 10px;
}
.resume__left {
	width: 35%;
	background: #26252d;
}
.resume__left-img {
	width: 100%;
}

.resume__left-img img {
	width: 100%;
	display: block;
}
.resume__left-bottom {
	padding: 20px 30px;
}
.resume__left-bottom-item {
	padding: 20px 0;
	border-bottom: 1px solid #0175b2;
}
.resume__left-bottom-item:last-child {
	border-bottom: 0px;
}
.resume_profile {
}
.resume_profile-title {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
	letter-spacing: 4px;
}
.resume_profile-info {
	color: #84838b;
	padding-top: 10px;
	text-decoration: none;
}
.resume_address {
}
.resume_contact {
}
.resume_profile-subtitle {
	color: #fff;
	margin-bottom: 2px;
}
.resume_skills {
	display: flex;
	flex-direction: column;
}
.skill_list {
	padding: 0;
	color: #84838b;
}
.skill_name {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	align-items: center;
}
.skill_bar p {
	position: relative;
	width: 125px;
	height: 20px;
	background: #fff;
}
.skill_bar p span {
	position: absolute;
	top: 0;
	left: 0;
	background: #0175b2;
	width: 100%;
	height: 100%;
}
.resume__right {
}
.resume__right-header {
}
.resume__header-name {
	font-size: 20px;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px;
	letter-spacing: 4px;
}
.resume__header-occupation {
}
.resume__right-education {
}
.resume_data {
}
.resume_data-year {
}
.resume_data-content {
}
.resume__right-experience {
}
.resume__right-interests {
}
.interests {
}
.interests__icon {
}
.interests__data {
}
